body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.job-list {
  list-style-type: none;
  padding: 0;
}

.job-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.job-item h3 {
  margin: 0 0 10px 0;
}

.job-item p {
  margin: 0;
}

.job-item button {
  margin-right: 5px;
}

.form-container {
  margin-bottom: 20px;
}

.form-container label {
  margin-right: 10px;
}

.form-container input,
.form-container button {
  margin-right: 10px;
}

.application-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.application-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

#applicationContainer {
  display: none;
}

/* Custom Grouped Job Style */
.group-12 {
  width: 1712px;
  height: 365px;
  box-sizing: border-box;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/ef14zflbx3u-1%3A182?alt=media&token=555cd13c-8cf6-4b21-9302-8b8334d39149);
}

.group-429 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-sizing: border-box;
}

.group-843 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;
}

.job-ref {
  color: rgba(136, 136, 136, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.job-title {
  color: rgba(19, 39, 69, 1);
  font-size: 40px;
  line-height: 40px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.job-location,
.job-salary {
  color: rgba(19, 39, 69, 1);
  font-size: 30px;
  line-height: 30px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.job-description {
  color: rgba(19, 39, 69, 1);
  font-size: 18px;
  line-height: 18px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  letter-spacing: 0.9px;
}

.job-logo {
  width: 77px;
  height: 70px;
}
