
<head>
  <title>Welcome to Recruitment.com</title>
</head>
<body>
<main>
  <h1 class="welcome-to-recruitment">
    <span class="welcome">Welcome to</span>
    <span>Recruitment.com</span>
  </h1>

  <div class="group-18">
    <div class="group-234">
      <div class="text-content">
        <p class="mission">Mission</p>
        <p class="at-recruitment-com-our-m">
          At Recruitment.com, our mission is to connect exceptional talent with
          career opportunities that drive success. We are an innovative platform
          dedicated to transforming the way recruiters and candidates meet,
          collaborate, and thrive together.
        </p>
      </div>

      <img
        src="https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/keingl1ojc-12%3A66?alt=media&token=e57af2db-7165-4206-a07d-480b21b2dd6f"
        alt="Work Happiness"
        class="felicidade-no-trabalho-istock-9144696641"
      />

      <div class="blurred-circle"></div>
    </div>
    <p class="start-your-journey-towa">
      Start your journey towards the future with us today!
    </p>
  </div>
</main>
</body>

