<div class="container">
  <h2>Criar Nova Vaga</h2>
  <form (ngSubmit)="createJob()">
    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="job.title" name="title" required>
    </div>
    <div class="form-group">
      <label for="description">Descrição:</label>
      <textarea id="description" class="form-control" [(ngModel)]="job.description" name="description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
