/* Importar fonte do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

/* Reset de margin */
p {
  margin: 0;
}

/* Estilo para o título */
h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: rgba(19, 39, 69, 1);
  margin: 20px 0;
  text-align: center;
}

/* Estilo para o conteúdo principal */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
}

/* Estilo para o contêiner do formulário */
.form-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

/* Estilo para o título dentro do formulário */
.form-container h2 {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(19, 39, 69, 1);
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo para os grupos de formulário */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Estilo para os rótulos e entradas do formulário */
.form-container label {
  margin-bottom: 5px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: rgba(19, 39, 69, 1);
}

.form-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

/* Estilo para o botão dentro do formulário */
.form-container .apply-button {
  background-color: #32FFCE;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 110px;
  text-align: center;
  margin-top: 10px;
}

/* Efeito de hover para o botão do formulário */
.form-container .apply-button:hover {
  background-color: #28d1b4;
  transform: scale(1.05);
}

/* Estilo para o job listing */
.job-listing {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

/* Estilo para o contêiner da vaga */
.job {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  padding: 20px;
}

/* Estilo para o cabeçalho da vaga */
.job-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Estilo para os detalhes da vaga */
.job-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Estilo para a referência e o título da vaga */
.job-ref {
  color: rgba(19, 39, 69, 1);
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.job-title {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(19, 39, 69, 1);
  margin: 5px 0;
}

/* Estilo para a descrição da vaga */
.job-description {
  color: rgba(19, 39, 69, 1);
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  letter-spacing: 0.9px;
  margin-top: 10px;
}

/* Estilo para o contêiner dos botões na vaga */
.job-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Estilo para o botão dentro da vaga */
.job-buttons .apply-button {
  background-color: #32FFCE;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  text-align: center;
}

/* Efeito de hover para o botão */
.job-buttons .apply-button:hover {
  background-color: #28d1b4;
  transform: scale(1.05);
}

/* Estilo do contêiner de aplicações */
.application-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 95%;
  margin-top: 20px;
  max-width: 1000px;
}

/* Estilo para o título dentro do contêiner de aplicações */
.application-container h3 {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(19, 39, 69, 1);
  margin-bottom: 15px;
  text-align: center;
}

/* Estilo para a lista de aplicações */
.application-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo para os itens da lista de aplicações */
.application-container li {
  margin-bottom: 10px;
  color: rgba(19, 39, 69, 1);
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

/* Estilo para o botão de fechar aplicações */
.application-container button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  text-align: center;
  margin-top: 15px;
}

/* Efeito de hover para o botão de fechar aplicações */
.application-container button:hover {
  background-color: #e60000;
  transform: scale(1.05);
}
.alert {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.alert.success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

.alert.error {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}
.inactive-warning {
  color: red; /* Cor para o aviso */
  font-weight: bold;
  margin-left: 10px;
  font-size: 0.9em;
}
