<div class="footer">
  <p class="brand-name">Recuitment.com</p>
  <div class="icons">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/w3141v74xsa-1%3A52?alt=media&token=2bf4a927-6b50-4726-9f6b-e9e9b79976d8"
      alt="Code"
      class="icon code-icon"
    />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/w3141v74xsa-1%3A53?alt=media&token=51f2e533-8eb1-4b7f-af01-ea70b028c31f"
      alt="LinkedIn"
      class="icon linkedin-icon"
    />
  </div>
</div>
