<body>
<h1>Application Section</h1>
<main>
  <section class="job-listing">
    <div class="job" *ngFor="let job of jobs">
      <div class="job-content">
        <div class="job-details">
          <p class="job-ref">Job ID: {{ job.id }}</p>
          <p class="job-title">{{ job.title }}</p>
          <p class="job-salary">{{ job.salary }}</p>
        </div>
        <p class="job-description">
          {{ job.description }}
        </p>
      </div>
      <div class="apply-section">
        <a href="#" class="apply-link" (click)="applyJob(job.id)"> <!-- Aqui troca de job.ref para job.id -->
          <span class="arrow">&rarr;</span>
        </a>
      </div>
    </div>
  </section>
