/* Importar fonte do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

/* Reset de margin */
p {
  margin: 0;
}

/* Estilo para o título */
h1 {
  font-family: 'Manrope', sans-serif; /* Define a fonte para o título */
  font-size: 32px; /* Tamanho da fonte do título */
  font-weight: 700; /* Peso da fonte para destacar o título */
  color: rgba(19, 39, 69, 1); /* Cor do título */
  margin: 20px 0; /* Margens superior e inferior para separar o título do resto do conteúdo */
  text-align: center; /* Centraliza o título */
}

/* Estilo para o conteúdo principal */
main {
  padding: 20px; /* Espaçamento interno para o conteúdo principal */
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
  margin: 0 auto; /* Centraliza o conteúdo principal horizontalmente */
  max-width: 1200px; /* Define uma largura máxima para o conteúdo principal */
}

/* Estilos principais do job listing */
.job-listing {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 60px;
  margin-bottom: 110px;
}

.job {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  padding: 20px; /* Adiciona um espaçamento interno */
  margin-right: 60px;
}

.job-content {
  display: flex;
  flex: 1;
  margin-right: 20px;
}

.job-logo {
  width: 77px;
  height: 70px;
  margin-right: 20px;
  flex-shrink: 0;
}

.job-details {
  flex: 1;
}

.job-ref {
  color: rgba(136, 136, 136, 1);
  font-size: 15px;
  line-height: 20px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.job-title {
  color: rgba(19, 39, 69, 1);
  font-size: 40px;
  line-height: 40px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.job-location, .job-salary {
  color: rgba(19, 39, 69, 1);
  font-size: 20px;
  line-height: 30px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.job-description {
  flex: 1;
  color: rgba(19, 39, 69, 1);
  font-size: 18px;
  line-height: 18px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  letter-spacing: 0.9px;
  margin-right: 20px;
}

/* Estilos para a seção de aplicação */
.apply-section {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: #32FFCE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.apply-link {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow {
  font-size: 20px;
}

/* Estilos para mensagens */
.message, .error {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.message {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}
